In [3]:
import pandas as pd

df = pd.read_csv(r"C:\UAO\Courses\ETL\Labs\Lab_1\data\raw\used_car_prices1.csv")

df

       car_model  year_of_manufacture         price    fuel
0           ritz                 2014   5000.000000  Petrol
1            sx4                 2013   7089.552239  Diesel
2           ciaz                 2017  10820.895522  Petrol
3        wagon r                 2011   4253.731343  Petrol
4          swift                 2014   6865.671642  Diesel
5  vitara brezza                 2018  13805.970149  Diesel
6           ciaz                 2015  10074.626866  Petrol
7        s cross                 2015   9701.492537  Diesel
8           ciaz                 2016  13059.701493  Diesel
9           ciaz                 2015  11119.402985  Diesel

In [ ]:
import os
import glob


def extract_from_csv(path):
    
    csv_pattern = os.path.join(path, '*.csv')  # Builds "path/*.csv" safely across OS types
    csv_files = glob.glob(csv_pattern)
    
    extracted_data_csv = pd.DataFrame(columns=['car_model', 'year_of_manufacture', 'price', 'fuel'])
    
    for file in csv_files:
        df = pd.read_csv(file)
        extracted_data_csv = pd.concat([extracted_data_csv, df], ignore_index=True)
    
    return extracted_data_csv